<footer>
        <div class="end">
            <div id="feature">
                <p>KEY FEATURES</p>
                <ul>
                    <li>Search and Browse</li>
                    <li>Online Booking</li>
                    <li>Property Descriptions</li>
                    <li>Trust and Safety</li>
                    <li>Customer Support</li>
                    <li>Secure Payment Processing</li>
                </ul>
            </div>

            <div class="email">
                <p>Never miss a beat on your
                    next vacation. <br>Sign up for our email list to stay <br> in the loop</p>
                <form action="">
                  
                    <input type="email" name="email" id="" placeholder="Enter your Email">
                </form>
                <div class="icon">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-snapchat"></i>
            </div>
            </div>
        </div>
        <div class="copyright">
            <p>By submitting this assignment I declare that this assignment is my own work in accordance with
                the Seneca Academic Policy. <br>No part of this assignment has been copied manually or
                electronically from any other source (including web sites) or distributed to other students.</p>
                <p>© Meenakshi Sharma, msharma193@myseneca.ca, WEB322 Winter 2023</p>
                <p>© Nick Romanidis, nick.romanidis@senecacollege.ca, WEB322 Winter 2023</p>
        </div>
</footer>