<header>
        <div class="nav">
            <div class="left">
                <img src="/images/l2.jpg" alt="logo">
            </div>
            <div class="right">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/rentals">RENTALS</a></li>
                    <li><a href="/sign-up">SIGN UP</a></li>
                    <li><a href="/log-in">LOG IN</a></li>
                </ul>
            </div>
        </div>
</header>