<section id="home">
		<h1 class="h-primary">Welcome to VacaySpot</h1>
		<p>Discover your perfect vacation rental on our website. Choose from a wide range of hand-picked properties, from cozy cottages to luxurious villas. Book with ease and 24/7 support for a comfortable and memorable stay. Start creating lasting memories today!</p>
		<button class="btn">List Your Booking</button>
</section>

<div class="plan">
    <section id="content">
        <div class="feature">
            <div class="content1">
                <h2>Package deals</h2>
                <p>Offer a bundled package of accommodations, dining, activities, and transportation for a discounted price.
                </p>
            </div>
            <div class="content2">
                <h2>Limited-time offers</h2>
                <p>Offer special promotions for a limited time to create a sense of urgency and encourage bookings.
                </p>
            </div>
            <div class="content3">
                <h2>Loyalty program perks</h2>
                <p>Offer special benefits to guests enrolled in the hotel's loyalty program, such as room upgrades, free nights, or additional amenities.
                </p>
            </div>
        </div>

    </section>