<div class="login">
    <div id="form">
        <center><h1>Welcome back</h1></center>
        <form action="/log-in" method="POST" id="log">
            <input type="text" name="email" id="email" placeholder="Email Address" value={{email}}>     
            <br>
            {{#if emailMsg}}
            <p class="errorMsg" >{{emailMsg}}</p>
            {{/if}}
            <input type="password" name="password" id="password" placeholder="Password" value={{password}}>       
            <br>
            {{#if passwordMsg}}
            <p class="errorMsg">{{passwordMsg}}</p>
            {{/if}}
            <input type="submit" value="Login">
        </form>
    </div>
</div> 