<div class="wpage">
<div>
<h4>
        Hello {{email}},<br>
        Welcome to VacaySpot.
        <br>
        We hope that you enjoy this website.
        Please don't hesitate to contact us if you have any questions or need assistance with your travel plans.
   </h4>
   <img src="/images/rental1.jpg" alt="rental1">
   </div>
</div>